.conact-details-container {
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 50px 20px;
	border-radius: 5px;
	align-items: center;
	margin: auto;
}
.conact-details-container > p,
.conact-details-container > h3 {
	padding: 25px;
}
.main-container {
	display: grid;
	grid-template-columns: 1.2fr 2fr;
	background-color: #f2f2f2;
	border-radius: 10px;
}
.left-container,
.right-container {
	display: flex;
	flex-direction: column;
	padding: 50px 20px;
	height: 100%;
}
.left-container {
	background-color: #276afb;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	text-align: left;
	padding: 10px;
	display: flex;
	justify-content: center;
}
.left-container > span,
h3,
small {
	padding: 15px;
}
.right-container {
	width: 100%;
	color: black;
}
.left-container > .social-icons {
	padding: 0 20px;
	width: 100%;
}

.contained {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5px;
}

textarea {
	padding: 5px;
	margin: 5px;
	background: transparent;
	border: none;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #276afb;
}

textarea:focus {
	outline: 1px solid #276afb;
	border: none;
}

.left-container > span {
	display: flex;
	align-items: center;
}
span > .icon {
	margin: 10px;
}
button .full_width {
	width: 100%;
}

/* ====================================================  */

.form {
	position: relative;
	width: 20rem;
	height: 3rem;
	margin: 10px;
}

.form__input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #000;
	font-size: inherit;
	font-family: inherit;
	outline: none;
	padding: 1.2rem;
	background: none;
	border: none;
	border-bottom: 1px solid #276afb;
}

.form__input:hover {
	border-color: #1c2237;
}
.form__input:focus {
	outline: 1px solid #276afb;
	border-radius: 0.5rem;
	border: none;
}

.form__label {
	position: absolute;
	left: 1rem;
	top: 0.8rem;
	padding: 0 0.5rem;
	color: #000;
	cursor: text;
	transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
	background-color: #f2f2f2;
}

.text__area {
	padding-left: 2rem;
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
	top: -0.5rem;
	font-size: 0.8rem;
	left: 0.8rem;
}

.form__input:not(:placeholder-shown).form__input:not(:focus) {
	outline: 1px solid #276afb;
	border-bottom: none;
}

textarea {
	height: 150px !important;
}

/* =========================================================  */

@media screen and (max-width: 991px) {
	.main-container {
		grid-template-columns: 1fr;
	}

	.left-container {
		border-top-right-radius: 10px;
		border-bottom-left-radius: 0;
	}

	.conact-details-container {
		width: 100%;
	}
	textarea {
		height: 100px;
	}
}

@media screen and (max-width: 768px) {
	.contained {
		grid-template-columns: 1fr;
	}
}
