:root {
	--primary: #fff;
	--secondary: #242424;
}

.btn {
	padding: 8px 20px;
	border-radius: 4px;
	outline: none;
	border: none;
	cursor: pointer;
	white-space: nowrap;
}

.btn--primary {
	background-color: var(--primary);
	color: var(--secondary);
	border: 1px solid var(--primary);
}

.btn--outline {
	background-color: transparent;
	color: var(--primary);
	padding: 8px 20px;
	border: 1px solid var(--primary);
	transition: all 0.3s ease-in-out;
}

.btn--medium {
	padding: 8px 20px;
	font-size: 18px;
}
.btn--large {
	padding: 12px 26px;
	font-size: 20px;
}

.btn--mobile {
	text-align: center;
	border-radius: 4px;
	width: 80%;
	text-decoration: none;
	font-size: 1.5rem;
	background-color: transparent;
	color: #fff;
	padding: 14px 20px;
	border: 1px solid #fff;
	transition: all 0.3s ease-out;
}
.btn--wide {
	padding: 12px 20px;
	font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover,
.btn--mobile:hover {
	transition: all 0.3s ease-out;
	background: var(--primary);
	color: var(--secondary);
}

.btn--wide:hover {
	color: var(--primary);
	background-color: #f00946;
	transition: all 0.2 ease-out;
}

.blue {
	background-color: #276afb;
	color: var(--primary);
	border: none;
}

.red {
	background-color: #f00946;
	color: var(--primary);
	border: none;
}
.primary {
	background-color: var(--secondary);
	color: var(--primary);
	border: none;
}

.primary:hover {
	background-color: var(--primary);
	color: var(--secondary);
	border: none;
}
.green {
	background-color: #25ce4a;
	color: var(--primary);
	border: none;
}

.green:hover {
	background-color: var(--secondary);
}
.blue {
	background-color: #276afb;
	color: var(--primary);
	border: none;
}

.btn-link {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	padding: 8px 16px;
	color: var(--primary);
	height: 100%;
	width: 100%;
}
